*{
    margin: 0;
    padding: 0;
}
.product-section{
    margin-top: 4rem;
}
.poduct-main-container{
    gap: 2rem;
    display: flex;
}
.main-img{
    height: 25rem;
    object-fit: cover;
}
.preview{
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 6rem;
    border: 1px solid;
}
.preview-img{
    cursor: pointer;
    height: 7rem;
    width: 5rem;
    object-fit: cover;
}
.product-info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 35rem;
}
#shop-cart{
    height: 2rem;
    width: 2re;
}
#cod{
    visibility: hidden;
    position: absolute;
}
.top-info{
    display: flex;
    justify-content: space-between;
}
#product-label{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    width: 10rem;
    height: 2.3rem;
    border-radius: 0.2rem;
    background-color: #5f1075;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}
#product-label:hover{
    background-color: #4e0961;
    transition: 1s;
}
.value-info{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f1075;
    font-size: 1.4rem;
}

#desc{
    font-size: 18px;
    margin-top: 4rem;
}
